/* styling add photo */
.modal-box.add_photo {
  display: grid;
  grid-template-rows: 40px 40px auto;
  padding: 0px;
  min-height: 260px;
  height: 200px;
  width: 40%;
}
.modal-box.add_photo h4 {
  font-size: 1.4rem;
  text-decoration: underline;
}
.modal-box.add_photo .ant-progress-line {
  position: relative;
  width: 95%;
  font-size: 10px;
  transform: translate(4%, 0px);
}
.modal-box.add_photo h6.error_add_photo {
  color: red;
  height: 30px;
  padding-top: 10px;
  font-size: 0.9em;
}
.modal-box.add_photo form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}
.modal-box.add_photo form label.btn {
  background: white !important;
  color: black;
  border-radius: 20px;
  height: 32px;
  text-align: center !important;
  width: 80%;
  font-size: 1.05em;
  line-height: 31px;
}
.modal-box.add_photo form button.waves-effect.waves-light.btn {
  margin: 0px !important;
  width: 115px;
  height: 28px;
  font-size: 1em;
  line-height: 20px;
}
.modal-box.add_photo .container_close_icon {
  width: 34px;
  height: 34px;
  background-color: rgba(216, 212, 212, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin: 8px;
}
.modal-box.add_photo .container_close_icon i {
  font-size: 1.6rem;
}
.modal-box.add_photo .ant-progress-outer {
  width: 90% !important;
}
@media (max-width: 768px) {
  .modal-box.add_photo {
    min-height: 220px;
    width: 50%;
  }
  .modal-box.add_photo h4 {
    font-size: 1.3rem;
  }
  .modal-box.add_photo form label.btn {
    font-size: 0.9em;
    height: 28px;
  }
  .modal-box.add_photo form button.waves-effect.waves-light.btn {
    height: 25px;
  }
  .modal-box.add_photo .container_close_icon {
    width: 28px;
    height: 28px;
  }
  .modal-box.add_photo .ant-progress-bg {
    height: 6px !important;
  }
}
@media (max-width: 576px) {
  .modal-box.add_photo {
    min-height: 250px;
    width: 60%;
  }
  .modal-box.add_photo h4 {
    font-size: 0.9em;
  }
  .modal-box.add_photo form label.btn {
    font-size: 0.7em;
    height: 25px;
    line-height: 24px;
  }
  .modal-box.add_photo form button.waves-effect.waves-light.btn {
    font-size: 0.9em;
    height: 24px;
    line-height: 24px;
    width: 74%;
    position: absolute;
    bottom: 25px;
  }
  .modal-box.add_photo .container_close_icon {
    width: 24px;
    height: 24px;
  }
  .modal-box.add_photo .ant-progress-bg {
    height: 6px !important;
  }
  .modal-box.add_photo .ant-progress-text {
    font-size: 0.8em !important;
  }
  .modal-box.add_photo h6.error_add_photo {
    padding-top: 15px;
    font-size: 0.75em;
  }
}
