.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 60%;
  width: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 40px;
  border-radius: 20px;
  background-color: #f3f3f3;
}

/* styling contact modal  */
.modal-box.contact {
  width: 640px;
  display: grid;
  grid-template-rows: 32px auto 72px;
  height: 350px !important;
  padding: 10px;
  padding-bottom: 30px;
}
.modal-box.contact .container_close_icon i {
  font-size: 1.6rem;
}
.modal-box.contact button {
  width: 95%;
  font-size: 1.2em;
  height: 28px !important;
  line-height: 20px;
  margin-top: 12px;
}
.modal-box.contact textarea {
  background-color: white;
  display: flex;
  flex-direction: column;
  resize: none;
  border-radius: 15px;
  border: 2px solid #679b9b;
  padding: 10px;
  overflow-y: scroll;
  height: 160px;
  width: 240px;
}

.modal-box.contact textarea:focus {
  outline: none;
  cursor: auto;
}
.modal-box.contact > div.form_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 240px;
}
.spanContact {
  font-size: 1.5em;
  font-weight: 1000;
  color: #2d3c4e;
}
.modal-box.contact .calendar {
  margin-top: 48px;
  margin-left: 16px;
  width: 240px !important;
  height: 240px !important;
  font-size: 0.8em;
}

@media (max-width: 992px) {
  .modal-box.contact {
    height: 500px !important;
    width: 400px !important;
  }
  .modal-box.contact .form_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .modal-box.contact textarea {
    height: 150px;
  }
  .modal-box.contact .calendar {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .modal-box.contact {
    height: 800px;
    width: 250px;
  }
  .modal-box.contact div.form_contact {
    display: flex;
    flex-wrap: wrap;
  }
  .modal-box.contact textarea {
    width: 250px;
    margin-top: 10px;
  }
  .modal-box.contact > div {
    flex-wrap: wrap;
  }
  .spanContact {
    font-size: 1.3em !important;
  }
}
@media (max-width: 576px) {
  .modal-box.contact {
    padding-bottom: 20px;
    grid-template-rows: 40px auto;
    width: 250px !important;
    height: 60% !important;
    border-radius: 12px;
  }
  .modal-box.contact textarea {
    width: 200px;
    margin-top: 0px;
    height: 120px;
    font-size: 1em;
    border: 1px solid #679b9b;
  }
  .modal-box.contact .calendar {
    width: 200px !important;
    height: 220px !important;
    font-size: 0.6em;
  }
  .modal-box.contact .calendar .date-range input {
    height: 2.5rem;
  }
  .modal-box.contact .nice-dates-popover {
    transform: scale(0.6) !important;
  }
  .modal-box.contact .nice-dates-popover .nice-dates-day {
    font-size: 13px;
  }
  .modal-box.contact .container_close_icon {
    width: 28px;
    height: 28px;
    transform: translate(6px, -5px);
  }
  .modal-box.contact button {
    margin: 0px;
    font-size: 1em;
    height: 22px !important;
  }
}
/* styling view request */
.modal-box.view_request {
  width: 334px;
  max-height: 430px;
  height: 430px;
  padding: 10px;
  border-radius: 17px;
  display: grid;
  grid-template-rows: 30px 320px 40px;
}
.view_request dd {
  margin-left: 18px;
  font-size: 0.75em;
  margin-bottom: 0.4em;
}
.view_request dt {
  font-weight: 700;
  font-size: 0.8em;
  color: #2d3c4e;
}
.modal-box.view_request .container_close_icon {
  width: 29px;
  height: 29px;
  background-color: rgba(216, 212, 212, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.modal-box.contact .container_close_icon {
  width: 36px;
  height: 36px;
  background-color: rgba(216, 212, 212, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.modal-box.view_request i {
  font-size: 1em;
}
.modal-box.view_request dd i {
  transform: translate(0px, 3px);
}
.modal-box.view_request form {
  overflow: scroll;
  margin: 25px;
  margin-right: 7px;
  height: 90%;
  max-height: 350px;
  font-family: "Poppins", sans-serif;
}
.modal-box.view_request button {
  font-size: 0.7em;
  width: 120px;
  height: 32px;
  line-height: 20px;
  margin: 10px;
}
/* styling view request */
.view_request {
  font-size: 1.5em;
  text-align: left;
}

.view_request ::-webkit-scrollbar-thumb {
  background: #5c8d66 !important;
  border-radius: 100px;
}
.view_request ::-webkit-scrollbar-thumb:hover {
  background: #64a571 !important;
}

/* styling picker date */
.nice-dates-popover {
  width: 300px !important;
  transform: scale(0.8) !important;
}
.nice-dates-day:after {
}
.nice-dates-day:before {
  background-color: #218838 !important;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .modal-box.view_request {
    /* padding-bottom: 20px; */
    grid-template-rows: 30px 275px 40px;
    width: 300px;
    height: 375px !important;
  }
  .modal-box.view_request button {
    width: 110px;
    height: 28px;
  }
  .view_request dt {
    font-size: 0.7em;
  }
}
@media (max-width: 576px) {
  .modal-box.view_request {
    grid-template-rows: 30px 235px 40px;
    width: 260px;
    height: 330px !important;
    min-height: 330px;
  }
  .modal-box.view_request button {
    width: 94px;
    height: 25px;
    margin: 6px;
    font-size: 0.6em;
  }
  .view_request dt {
    font-size: 0.6em;
  }
  .view_request dd {
    margin-left: 10px;
    font-size: 0.65em;
    margin-bottom: 0.2em;
  }
  .view_request ::-webkit-scrollbar {
    width: 5px;
  }
  .modal-box.view_request .container_close_icon {
    width: 25px;
    height: 25px;
  }
  .modal-box.view_request .container_close_icon i {
    font-size: 0.9em;
  }
}
