/* styling the footer */
#footer {
  height: 240px;
  background-color: #131a22;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 20px;
}
#heart {
  transform: scale(0.8);
  position: relative;
  width: 80px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(0px, 15px); */
}
#heart > h6 {
  z-index: 3;
  color: #232f3e;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 2.2em;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 40px;
  top: 0;
  width: 40px;
  height: 70px;
  background-color: rgb(255, 202, 61);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  z-index: 2;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
#footer > div:not(#heart) {
  font-size: 1.1em;
  color: white;
  transform: translate(0px, 65px);
}
#footer > div:not(#heart) i {
  font-size: 1.1em;
  transform: translate(0px, 4px);
}
@media (max-width: 768px) {
  #footer {
    height: 200px;
  }
  #heart {
    transform: scale(0.7);
  }
  #footer > div:not(#heart) {
    transform: translate(0px, 45px);
  }
}
@media (max-width: 576px) {
  #footer {
    height: 150px;
  }
  #heart {
    transform: scale(0.6);
  }
  #footer > div:not(#heart) {
    font-size: 0.8em;
    transform: translate(0px, 7px);
  }
  #footer > div:not(#heart) i {
    transform: translate(0px, 2px);
  }
}
