.home_header {
  /* background-color: #ebf3eb; */
  display: flex;
  flex-wrap: wrap;
}
.home_header .home1 {
  position: relative;
  margin: 0px;
  width: 100%;
  background-image: url("/images/home3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: calc(100vh - 70px) !important;
  /* font-family: "Indie Flower", cursive; */
  font-family: "Gochi Hand", cursive;
  padding-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.home1 span {
  background-color: rgba(15, 15, 15, 0.7);
  font-size: 3.1em;
  color: rgb(255, 202, 61);
  line-height: 40px;
}
.photos_home {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 34% !important;
  /* background-color: #ebf3eb; */
  margin: 0;
}
.photos_home img {
  margin: 10px;
  width: 12%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 70px;
}
.home_header .home1 img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border-radius: 20px; */
}
/* styling cards */
.container1 {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  font-size: 1.2em;
}
.content1 li,
.content1 ul,
.content1 ol {
  text-align: justify !important;
  padding-left: 7px;
}
.content1 ul {
  transform: translate(10px, 20px);
}
.content1 ul li {
  list-style-type: disc;
}
.container1 .card1 {
  position: relative;
  /* height: 73vh; */
  height: 470px;
  background: #fff;
  display: flex;
  width: 360px;
  margin: 30px 0;
  border-radius: 40px;
}
.container1 .card1 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#3282b8, #3282b8); */
  background-image: url("/back-carte-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 40px;
  border: none;
}
.container1 .card1:hover .imgBx {
  width: 135px;
  height: 135px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.6s ease-in-out;
  background-color: #2b2627;
}
.container1 .card1 .imgBx:before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 3.2em;
  padding: 25px;
  /* color: #ff9a76; */
  color: #ffeadb;
  font-weight: 700;
  line-height: 1.1em;
  font-family: "Poppins", sans-serif;
}
.container1 .card1 .imgBx img {
  max-width: 120px;
}
.container1 .card1:hover .imgBx:before {
  /* max-width: 75px; */
  content: none !important;
}
.container1 .card1 .content1 {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 15px 25px 15px 0px;
  display: flex;
  justify-content: center;
}
.container1 .card1 .content1 h3 {
  margin-bottom: 4px;
  margin-top: 16px;
  font-size: 24px;
  margin-right: 56px;
}
.container1 .card1 .content1 a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  text-decoration: none;
  color: #fff;
}
.container1 .card1:hover .imgBx img {
  max-width: 100px !important;
  max-height: 100px !important;
  transition: 0.5s ease-in-out;
}

/* Styling Contact us */
.container_contact {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 48px;
  background: #465858;
  display: flex;
  justify-content: center;
}
.container_contact > div {
  width: 90%;
}
.container_contact h2 {
  width: 100%;
  color: #679b9b;
  font-size: 29px;
  text-align: center;
  margin-bottom: 8px;
}
.container_contact .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.container_contact .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 24px 0 10px;
  transition: 0.5s;
}
.container_contact .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 35px;
  color: white;
}
.container_contact .row100 .inputBox input,
.container_contact .row100 .inputBox.textArea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  outline: none !important;
  font-size: 1.1em !important;
  padding: 0 10px;
  z-index: 1;
  left: 0px;
  border: none;
  margin-top: 0px !important;
}
.container_contact .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px !important;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.container_contact .row100 .inputBox input:focus + .text,
.container_contact .row100 .inputBox input:not([value=""]) + .text {
  top: -35px;
  left: -10px;
}
.container_contact .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  line-height: 40px;
  display: block;
  width: 100%;
  height: 2px;
  background: #679b9b;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.container_contact .row100 .inputBox input:focus ~ .line,
.container_contact .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.container_contact .row100 .inputBox.textArea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.container_contact .row100 .inputBox.textArea textarea {
  height: 100%;
  resize: none;
}
.container_contact .row100 .inputBox textarea:focus + .text,
.container_contact .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.container_contact .row100 .inputBox textarea:focus ~ .line,
.container_contact .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
.container_contact .row100 .inputBox input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #679b9b;
  font-style: 18px;
  border-radius: 2px;
  line-height: 0px;
}
.container_contact .row100 .inputBox input:hover {
  background: #498d8d;
}
.container_contact .row100 .inputBox input:active {
  background: #b6c9c9;
  color: #498d8d;
  transition: 0.1s;
}
@media (max-width: 992px) {
  .container1 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
  }
  .home1 span {
    font-size: 3em;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .container1 .card1 {
    max-width: 310px;
    flex-direction: column;
    height: auto;
    font-size: 0.75em;
    line-height: 20px;
  }
  .container1 .card1 .imgBx {
    position: relative;
    border-radius: 40px 40px 0px 0px;
  }
  .container1 .card1 .imgBx,
  .container1 .card1:hover .imgBx {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .container1 .card1 .imgBx img {
    max-width: 100px;
  }
  .container1 .card1 .content1 {
    position: relative;
    width: 100%;
    padding: 15px 25px 15px 25px;
  }
  .container1 .card1 .content1 h3 {
    margin: 10px 0px;
  }
  .content1 ul {
    transform: none !important;
  }
  .container1 .card1 .imgBx:before {
    content: none !important;
  }
  .home1 span {
    font-size: 2.2em;
    line-height: 30px;
  }
  .container_contact {
    padding: 20px;
  }
  .container_contact h2 {
    font-size: 22px;
  }
  .container_contact .row100 .col {
    margin: 30px 0 10px;
  }
  .container_contact .row100 .inputBox {
    height: 26px;
  }
  .container_contact .row100 .inputBox .text {
    padding: 0 0px;
    top: -6px;
  }
  .container_contact .row100 .inputBox input:focus + .text,
  .container_contact .row100 .inputBox input:valid + .text,
  .container_contact .row100 .inputBox textarea:focus + .text,
  .container_contact .row100 .inputBox textarea:valid + .text {
    top: -33px;
    left: 0px;
  }
  .container_contact .row100 .inputBox input,
  .container_contact .row100 .inputBox.textArea textarea {
    font-size: 1em !important;
    padding: 3px;
  }
}
@media (max-width: 576px) {
  .container_contact .row100 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .container1 .card1 {
    width: 270px;
  }
  .container1 .card1 .imgBx {
    height: 150px !important;
  }
  .container_contact h2 {
    font-size: 20px;
  }
  .container_contact .row100 .inputBox .text {
    font-size: 12px !important;
  }
  .container_contact .row100 .inputBox {
    height: 24px;
  }
  .container_contact .row100 .col {
    margin: 22px 0 10px;
  }
  .container_contact .row100 .inputBox input,
  .container_contact .row100 .inputBox.textArea textarea {
    font-size: 0.9em !important;
  }
  .container1 .card1 .content1 h3 {
    font-size: 1.5em;
    margin: 0px 0px 5px 0px;
  }
  .container1 .card1 .content1 {
    padding: 5px 20px 5px 25px;
  }
  .home1 span {
    font-size: 1.9em;
    line-height: 33px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
