/* styling login and register */
.container_login {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  padding-bottom: 0px !important;
}
.container_login.register {
  min-height: 480px;
}
.container_login.register .form_login {
  grid-template-rows: auto 120px;
}
.form_login {
  width: 400px;
  border: solid #232f3e 2.5px;
  display: grid;
  grid-template-rows: auto 100px;
  padding: 30px 0px 0px 0px;
  border-radius: 8px;
  background-color: white;
  margin-top: 19px;
  margin-bottom: 8px;
  max-height: 75%;
}
.grid_item_login {
  align-items: center;
}
.form_login.login {
  max-height: 70%;
}
.container_login input:not(.login_radio),
.container_login label:not(.login_radioLabel),
.container_login select {
  color: black;
  font-size: 1.2em !important;
  height: 44px;
  width: 320px !important;
  margin: 7.5px;
  border: solid #232f3e 1.5px;
  border-radius: 8px;
}
.container_link_login {
  width: 80%;
  text-align: left;
  margin-left: 40px;
  font-size: 1em;
  text-decoration: underline;
}
/* styling the button of login and register */
.container_login .waves-effect.waves-light.btn {
  margin-top: 12px;
  width: 320px;
  height: 40px;
  border-radius: 8px;
  font-size: 1.2em;
}
.login_radio {
  opacity: 1 !important;
  pointer-events: auto !important;
  position: static !important;
  height: 20px !important;
  width: 20px !important;
  margin: 0 !important;
  transition: 5s;
}

.login_radioGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login_radioLabel {
  font-size: 1.2em !important;
  color: black !important;
  padding: 25px 20px 30px 5px;
}
.errorLogin {
  color: red;
  margin-top: 33px;
  font-size: 1em;
}
.errorRegister {
  color: red;
  margin-top: 0px;
  font-size: 1em;
}

@media (max-width: 768px) {
  .form_login {
    width: 350px;
  }
  .container_login input:not(.login_radio),
  .container_login label:not(.login_radioLabel),
  .container_login .waves-effect.waves-light.btn,
  .container_login select {
    width: 300px !important;
    font-size: 1.3em !important;
  }
  .container_link_login {
    margin-left: 25px;
    font-size: 1em;
  }
  .login_radioLabel {
    font-size: 1.2em !important;
  }
  .errorLogin .errorRegister {
    font-size: 0.95em;
  }
}
@media (max-width: 576px) {
  .form_login {
    width: 280px;
    padding: 10px 0px 0px 0px;
    grid-template-rows: auto 50px;
  }
  .form_login.login {
    max-height: 380px;
  }
  .container_login {
    min-height: 350px;
  }
  .container_login input:not(.login_radio),
  .container_login label:not(.login_radioLabel),
  .container_login .waves-effect.waves-light.btn,
  .container_login select {
    width: 240px !important;
    font-size: 1em !important;
    height: 36px;
  }
  .container_login .waves-effect.waves-light.btn {
    margin: 0px;
    height: 30px;
    line-height: 20px;
  }
  .container_login.register {
    min-height: 350px;
  }
  .container_login.register .form_login {
    grid-template-rows: auto 80px;
  }
  .errorRegister,
  .errorLogin {
    font-size: 0.8em;
  }
  .container_link_login {
    margin-left: 19px;
    font-size: 0.8em;
  }
  .login_radioLabel {
    font-size: 1em !important;
  }
  .errorLogin .errorRegister {
    font-size: 0.95em;
  }
  .login_radio {
    height: 15px !important;
    width: 15px !important;
  }
  .login_radioLabel {
    padding: 25px 20px 25px 3px;
  }
}
