/* styling Profile */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
}
.profile li {
  font-size: 1.2em;
  display: flex;
  font-weight: 600;
}
.info ul {
  text-align: justify;
  width: 95%;
}
.info ul i {
  transform: translate(0px, 8px);
  font-size: 1.6rem;
}
.profile li:not(.ant-rate-star) {
  line-height: 38px;
}
.containerInfo,
.containerPosts {
  position: relative;
  background-color: white;
}
.containerPosts {
  padding: 48px 0px;
}
.containerInfo {
  min-height: calc(100vh - 110px) !important;
  margin: 20px;
  z-index: 1;
  background-color: #eaeded;
  display: flex;
}
.containerInfo > div:not(.info) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 32px 0px 32px;
  background-image: url("/back-carte-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #ffe75e; */
  margin-right: 30px;
}
.containerInfo .rate {
  display: flex;
}
.containerInfo .info {
  width: 100%;
  padding: 0px;
  padding-top: 40px;
  position: relative;
}
.containerInfo .info > div:not(.container_rate):not(.rate_modal),
.containerPosts > div:not(.container-posts) {
  width: 95%;
  text-align: right;
  padding-bottom: 0px;
  transform: translate(0px, -15px);
}
.containerPosts > div {
  margin-right: 20px;
}
.containerInfo .info > div a {
  padding-right: 10px;
}
.containerInfo a,
.containerPosts a {
  font-size: 1.2em;
  margin-bottom: 50px !important;
  text-decoration: underline;
  color: #218838;
  font-weight: 1000 !important;
}
.containerInfo a + i,
.containerPosts a + i {
  font-size: 1.2em;
  color: #218838;
}
.container-posts {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.container-posts .rowPost i {
  font-size: 1.6rem;
}
.cadrePhoto {
  width: 176px;
  height: 176px;
  box-sizing: border-box;
  background-clip: content-box;
  background-image: url("/images/profileBack.png");
  border: solid black 0px;
  border-radius: 49.9%;
  display: flex;
  justify-content: stretch;
  margin-bottom: 10px;
}
.container_icon_add_photo {
  width: 33.6px;
  height: 33.6px;
  border-radius: 49.9%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-9px, 9px);
  text-decoration: none;
}
.container_icon_add_photo i {
  transform: translate(0px, 4px);
  color: #232f3e;
  font-size: 1.6rem;
}
/* styling post modal */
.cardPost,
.cardPost-action,
.cardPost-image {
  width: 100%;
}
.cardPost-image img {
  width: 100%;
}
.cardPost-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
}
.cardPost-action a {
  margin-bottom: 0px !important;
  padding: 0px;
}
.cardPost-action a i {
  /* in visit profile */
  transform: translate(0px, -3px);
  margin-right: 6px;
  color: #c41717;
}
.cardPost-title {
  color: #c41717 !important;
  padding-bottom: 0px !important;
  font-weight: bold !important;
  font-size: 1.5em;
}
.cardPost-content p {
  font-size: 1.2em;
  padding-top: 20px;
  text-align: justify;
}
.cardPost-content {
  padding-bottom: 0px;
}
.colPost.s12.m7 {
  min-width: 100% !important;
}
.rowPost {
  padding: 20px 0px 40px 0px;
  margin-bottom: 20px;
  width: 60%;
}
.created_at {
  text-align: right;
  font-size: 0.7em;
  font-weight: 700;
  padding-top: 6px;
  padding-right: 5px;
  border-bottom: 0.5px solid #c41717;
}
/* styling rate */
.profile .ant-rate-star.ant-rate-star-zero .anticon {
  color: #232f3e !important;
}
/*buttons in visitProfile*/
.waves-effect.waves-light.btn.visit {
  width: 100%;
  font-size: 1.1em;
  height: 32px;
  transform: translate(0px, 10px);
  line-height: 20px;
}
/* styling modal rating in visit */
.container_rate {
  cursor: pointer;
  width: 130px;
  height: 70px;
  background-color: white;
  box-shadow: 0px 8px 10px #aaaaaa;
  outline: 0;
  color: #333;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  border: 0;
  position: absolute;
  right: 38px;
  top: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 12px;
}
.container_rate:hover,
.container_rate_click {
  transform: translateY(-2px);
  box-shadow: 0px 15px 14px #aaaaaa !important;
}

.container_rate:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 23px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 17px solid white;
  border-bottom: 8px solid transparent;
}
.icons-list {
  font-size: 2.5em;
}
.container_rate h4 {
  margin-bottom: 0px !important;
  font-size: 1.2em !important;
  font-weight: 900;
  /* color: aliceblue; */
  color: #1890ff;
}
.rate_modal {
  background-color: white;
  box-shadow: 8px 15px 10px #aaaaaa;
  width: 250px;
  height: 200px;
  position: absolute;
  right: 191px;
  top: 48px;
  z-index: 10;
  border-radius: 12px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 50px;
}
.rate_modal .container_close_icon {
  width: 30px;
  height: 30px;
  background-color: rgba(78, 33, 58, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  cursor: pointer;
  color: #232f3e;
  font-size: 1.22em;
  transform: translate(-14px, 11px);
}
.rate_modal .container_close_icon i {
  font-size: 1.2em !important;
  font-weight: bold;
  transform: translate(0px, 1px);
}
.rate_nbr_person {
  text-align: center;
  font-size: 1.4em;
  margin-left: 15px;
  color: #232f3e;
}
.icon_person {
  padding-top: 5px;
  color: #232f3e;
}
.icon_person i {
  font-size: 1.6em;
}
/*the rate of the client*/
.fas.fa-star {
  font-size: 30px;
  margin: 3px;
}
.message_rate {
  margin-top: 20px;
  font-weight: 700;
  color: #232f3e;
  font-size: 1.3em;
}

@media (max-width: 992px) {
  .cadrePhoto {
    width: 160px !important;
    height: 160px !important;
  }
  .container_icon_add_photo {
    height: 33px;
    width: 33px;
    transform: translate(-11px, 1px);
  }
  .container_icon_add_photo i {
    font-size: 1.6rem;
    transform: translate(0px, 5px);
  }
  .containerInfo {
    margin: 0px;
  }
  .containerInfo .info {
    padding-top: 50px;
  }
  .containerInfo > div:not(.info) {
    padding: 130px 25px 0px 25px;
    margin-right: 10px;
    min-height: calc(100vh - 75px);
  }
  .profile li {
    /* font-size: 1.2em; */
    font-weight: 500;
  }
  .profile li:not(.ant-rate-star) {
    line-height: 35px;
  }
  .container_rate,
  .rate_modal {
    border-radius: 12px;
  }
  .container_rate {
    width: 120px;
    height: 70px;
    right: 45px;
  }
  .icons-list {
    font-size: 2.5em;
  }
  .container_rate h4 {
    font-size: 1.3em !important;
  }
  .rate_modal {
    right: 191px;
    width: 250px;
  }
  .rate_nbr_person {
    font-size: 1.5em;
    transform: translate(0px, -1px) !important;
  }

  .icon_person i {
    font-size: 1.6em;
    transform: translate(0px, 0px) !important;
  }
  /*the rate of the client*/
  .fas.fa-star {
    font-size: 24px;
    margin: 4px;
  }
  .rate_nbr_person,
  .containerInfo .material-icons {
    transform: translate(0px, 4px);
  }
}
@media (max-width: 768px) {
  .containerInfo {
    flex-direction: column !important;
  }
  .containerInfo > div:not(.info) {
    margin-right: 0px !important;
    padding: 0px !important;
    min-height: 200px;
    padding-bottom: 20px !important;
  }
  .containerInfo > div.info {
    padding: 25px 10px;
  }
  .cadrePhoto {
    width: 150px !important;
    height: 150px !important;
  }
  .cadrePhoto:not(img) {
    margin-top: 25px;
  }
  .containerInfo .info > div:not(.container_rate):not(.rate_modal),
  .containerPosts > div:not(.container-posts) {
    margin-top: 15px;
  }
  .container_icon_add_photo {
    transform: translate(-5px, -12px);
  }
  .containerPosts {
    padding: 0px;
  }
  .containerPosts > div:not(.container-posts) {
    transform: translate(0px, 13px);
  }
  .waves-effect.waves-light.btn.visit {
    transform: translate(0px, 0px);
    width: 170px;
    font-size: 1.15em;
    height: 30px;
  }
  .container_rate {
    top: 30px;
  }
  .rate_modal {
    top: 28px;
  }
  .rate_modal {
    right: 167px;
  }
  .container_rate {
    width: 100px;
    height: 60px;
  }
  .container_rate:hover,
  .container_rate_click {
    transform: translateY(-2px);
    box-shadow: 0px 10px 12px #aaaaaa !important;
  }
  .container_rate h4 {
    font-size: 1.1em !important;
  }
  .rate_modal {
    box-shadow: 6px 10px 11px #aaaaaa;
  }
  .icons-list {
    font-size: 2em;
  }
}
@media (max-width: 576px) {
  .container-posts {
    margin-top: 10px;
  }
  .container-posts .rowPost i {
    font-size: 1.4rem;
  }
  .info,
  .containerPosts {
    padding: 10px !important;
    font-size: 0.7em !important;
  }
  .containerPosts > div {
    margin-right: 0px;
  }
  .rowPost {
    width: 65% !important;
  }
  .containerInfo .info > div:not(.container_rate):not(.rate_modal),
  .containerPosts > div:not(.container-posts) {
    margin-top: 15px !important;
    margin-right: 10px !important;
    transform: translate(17px, -15px) !important;
  }
  .info ul i {
    transform: translate(0px, 5px) !important;
    font-size: 1.2rem;
  }
  .container_rate {
    top: 18px;
  }
  .rate_modal {
    top: 16px;
  }
  .rate_modal {
    height: 164px;
    width: 190px;
    right: 141px;
    border-radius: 8px;
    box-shadow: 8px 10px 9px #aaaaaa;
  }
  .container_rate {
    width: 90px;
    height: 50px;
    right: 35px;
    box-shadow: 0px 8px 10px #aaaaaa;
    border-radius: 9px;
  }
  .icons-list {
    font-size: 2.2em;
  }
  .container_rate h4 {
    margin-top: 5px;
  }
  .container_rate:before {
    top: 17px;
    border-top: 7px solid transparent;
    border-right: 12px solid white;
    border-bottom: 7px solid transparent;
  }
  .fas.fa-star {
    font-size: 20px !important;
    margin: 3px;
  }
  .message_rate {
    font-size: 1.5em;
  }
  .rate_modal .container_close_icon {
    transform: translate(-14px, 11px);
    width: 25px;
    height: 25px;
  }
  .containerInfo .icon_person .material-icons {
    transform: translate(0px, -2px) !important;
    font-size: 1.3em;
  }
  .rate_nbr_person {
    font-size: 1.2em;
    transform: translate(0px, -1px) !important;
    margin-left: 10px;
  }
  .rowPost {
    padding: 20px 0px 10px 0px;
  }
  ul.ant-rate.ant-rate-disabled {
    font-size: 12px !important; /*Rate of the artisan*/
  }
  .cadrePhoto {
    width: 120px !important;
    height: 120px !important;
  }
  .waves-effect.waves-light.btn.visit {
    width: 160px;
    font-size: 1em;
    height: 25px;
    margin: 10px;
  }
  .cadrePhoto:not(img) {
    margin-top: 20px;
    margin-bottom: 3px;
  }
  .ant-rate-star:not(:last-child) {
    margin-right: 5px;
  }
  .container_icon_add_photo {
    height: 28px;
    width: 28px;
    transform: translate(-7px, -29px);
  }
  .container_icon_add_photo i {
    font-size: 1.4rem;
    transform: translate(0px, 4px) !important;
  }
}
