@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@import "~antd/dist/antd.css";
.ant-picker-cell-inner,
ant-picker-calendar-date {
  height: 30px !important;
}

html,
body {
  /* background: #ebf3eb; */
  background: #eaeded;
  /* font-family: Abel, Arial, Verdana, sans-serif; */
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
.btn {
  font-size: 1.4em;
  background-color: #218838 !important;
}
.fas.fa-check {
  color: #218838;
  font-size: 3em;
}
input {
  font-size: 1.5em !important;
}
textarea {
  margin-top: 32px;
  height: 200px;
  width: 300px;
  font-size: 1.2em;
}
.calendar {
  width: 300px !important;
  height: 300px !important;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*styling button */
button {
  margin: 15px;
}

.waves-effect.waves-light.btn {
  border-radius: 20px;
}
.waves-effect.waves-light.btn i {
  font-size: 2rem;
  line-height: 28px;
}

/* styling alert message*/
#__react-alert__ > div > div > div {
  transform: scale(0.8);
  background-color: #232f3e !important;
  color: white !important;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  min-width: 250px !important;
  height: 70px !important;
  border-radius: 20px !important;
}
.waves-effect.waves-light.btn:hover {
  background: #27a342 !important;
  transition: 0.3s;
}
/* styling return button */
.waves-effect.waves-light.btn.return {
  border-radius: 7px !important;
  width: 52px !important;
  height: 50px;
  /* background-color: #ffeadb; */
  background-color: white !important;
  color: #218838;
  border: 1px solid white;
  text-align: auto;
  padding: 10px;
  margin-top: 20px;
}
.waves-effect.waves-light.btn.return:hover {
  background-color: rgba(228, 228, 228, 0.2) !important;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .waves-effect.waves-light.btn.return {
    width: 50px !important;
    height: 47px;
    margin: 10px;
  }
  .waves-effect.waves-light.btn i {
    font-size: 2rem;
    line-height: 27px;
  }
}
/* styling scrollbar */
::-webkit-scrollbar {
  width: 8px; /*scrollbar vertical */
  height: 8px; /*scrollbar horizental */
}
::-webkit-scrollbar:hover {
  background-color: #d5e6e6 !important;
}
::-webkit-scrollbar-thumb {
  background: #324150 !important;
  border-radius: 100px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #536677 !important;
}

@media (max-width: 576px) {
  .waves-effect.waves-light.btn.return {
    width: 40px !important;
    height: 38px;
    margin: 8px;
    padding: 0px;
  }
  .waves-effect.waves-light.btn i {
    font-size: 1.6rem;
    line-height: 37px;
  }
  #__react-alert__ > div > div > div {
    transform: scale(0.6);
  }
}
