.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 60%;
  width: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 40px;
  border-radius: 10px;
}
/* styling alert */
.modal-backdrop.alert {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* background-color: rgba(0, 0, 0, 0); */
}
.modal-box.alert {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 20% !important;
  width: 35%;
  background-color: white;
  z-index: 101;
  padding: 40px;
  border-radius: 10px;
  border: solid black 1px;
  text-align: center;
}
/* styling contact modal  */
.modal-box.contact {
  display: flex;
  flex-direction: column;
}
.modal-box.contact > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
